body {
  background: linear-gradient(
      -140deg,
      #8effae 6.1%,
      rgba(206, 143, 255, 0.828854) 75.67%,
      rgba(216, 132, 255, 0.69) 93.41%
    )
    no-repeat center center fixed;
  background-size: cover;
  font-family: Gudea;
}

.group {
  border: 1px solid rgb(100, 100, 100, 0.9);
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 840px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 15px;
}

header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  line-height: 61px;
  letter-spacing: 3px;
  color: white;

  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: rgb(100, 100, 100, 0.9);
}

h1 {
  margin: 0;
  padding: 18px;
  font-weight: normal;
  font-size: 50px;
}
h2 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
}

.container {
  max-width: 77%;
  margin: 0 auto;
}

.searchLine {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100%;
}

form {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  max-width: 100%;
}

.todo-input {
  padding: 6px 10px;
  font-size: 15px;
  color: rgb(100, 100, 100, 0.9);
  border: 1px solid rgb(100, 100, 100, 0.9);
  border-radius: 5px;
  background: none;
  flex: 1;
  max-width: 90%;
}

.todo-button {
  color: white;
  background: rgb(100, 100, 100, 0.9);
  cursor: pointer;
  padding: 6px 10px;
  font-size: 15px;
  border: 1px solid rgb(100, 100, 100, 0.9);
  border-radius: 5px;
  margin-left: 5px;
  transition: all 200ms ease-in-out;
}
.todo-button:hover,
.clear-btn:hover {
  background: white;
  color: rgb(100, 100, 100, 0.9);
}

select {
  outline: 0;
  box-shadow: none;
  border: 1px solid rgb(100, 100, 100, 0.9);
  border-radius: 5px;
  background: none;
  color: rgb(100, 100, 100, 0.9);
  cursor: pointer;
  max-width: 125px;
  padding: 5.8px 10px 5.8px 3px;
  margin-left: 15px;
  font-size: 15px;
}

.clear-btn {
  background: rgb(100, 100, 100, 0.9);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}

.clearDiv {
  margin: 0 auto;
  text-align: right;
  max-width: 77%;
  margin-top: 40px;
}

.todo-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  max-width: 77%;
}
.todo-list {
  margin: 0 auto;
  margin-top: 15px;
  width: 100%;
  list-style: decimal-leading-zero;
}

.todo {
  background: none;
  font-size: 17px;
  font-weight: 600;
  color: rgb(100, 100, 100, 0.9);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8px;
  transition: all 800ms ease-in-out;
}

.todo li {
  flex: 1;
  padding-right: 57px;
  word-break: normal;
}

.trash-btn,
.complete-btn {
  background: white;
  color: rgb(100, 100, 100, 0.9);
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  cursor: pointer;
  font-size: 15px;
  margin: 0;
  transition: all 200ms ease-in-out;
}

.complete-btn {
  margin-right: 18px;
}

.trash-btn:hover,
.complete-btn:hover {
  background: rgb(100, 100, 100, 0.9);
  color: white;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.animation {
  transform: translateX(80px);
  opacity: 0;
}

.animationClear {
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  color: #9c8ab2;
}

.codedBy {
  color: white;
  text-align: center;
  font-size: 13px;
  margin-bottom: 60px;
}
a {
  color: white;
}

/*media queries*/

@media (max-width: 380px) {
  .group {
    max-width: 450px;
    display: block;
    margin: 0 auto;
  }
  header {
    line-height: 40px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 35px;
  }
  form {
    max-width: 100%;
  }
  .todo-input {
    max-width: 80%;
  }
  .container,
  .todo-container,
  .clearDiv {
    max-width: 88%;
  }
  select {
    margin-top: 10px;
    margin-left: 0;
  }
  .searchLine {
    justify-content: left;
  }
  .clear-btn,
  .trash-btn,
  .complete-btn {
    font-size: 12px;
  }
  .complete-btn {
    margin-right: 10px;
  }
  .todo {
    font-size: 13px;
  }
  .todo li {
    padding-right: 10px;
  }
  .todo-list {
    padding-left: 25px;
  }
  .codedBy {
    font-size: 11px;
    margin-top: 15px;
  }
}

@media (min-width: 381px) and (max-width: 446px) {
  .group {
    max-width: 445px;
    display: block;
    margin: 0 auto;
  }
  header {
    line-height: 40px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 35px;
  }
  form {
    max-width: 100%;
  }
  .todo-input {
    max-width: 85%;
  }
  .container,
  .todo-container,
  .clearDiv {
    max-width: 85%;
  }
  select {
    margin-top: 10px;
    margin-left: 0;
  }
  .searchLine {
    justify-content: left;
  }
  .clear-btn,
  .trash-btn,
  .complete-btn {
    font-size: 12px;
  }
  .complete-btn {
    margin-right: 10px;
  }
  .todo {
    font-size: 13px;
  }
  .todo li {
    padding-right: 10px;
  }
  .todo-list {
    padding-left: 25px;
  }
  .codedBy {
    font-size: 11px;
    margin-top: 15px;
  }
}

@media (min-width: 446px) and (max-width: 464px) {
  .group {
    max-width: 464px;
    display: block;
    margin: 0 auto;
  }
  header {
    line-height: 40px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 35px;
  }
  form {
    max-width: 100%;
  }
  .todo-input {
    max-width: 85%;
  }
  .container,
  .todo-container,
  .clearDiv {
    max-width: 85%;
  }
  select {
    margin-top: 10px;
    margin-left: 0;
  }
  .todo-button {
    margin-right: 16px;
  }
  .searchLine {
    justify-content: left;
  }
  .clear-btn,
  .trash-btn,
  .complete-btn {
    font-size: 13px;
  }
  .complete-btn {
    margin-right: 10px;
  }
  .todo {
    font-size: 14px;
  }
  .todo li {
    padding-right: 10px;
  }
  .todo-list {
    padding-left: 25px;
  }
  .codedBy {
    font-size: 13px;
    margin-top: 15px;
  }
}

@media (min-width: 464px) and (max-width: 600px) {
  .group {
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }
  header {
    line-height: 40px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 40px;
  }
  form {
    max-width: 100%;
  }
  .todo-input {
    max-width: 85%;
  }
  .container,
  .todo-container,
  .clearDiv {
    max-width: 85%;
  }
  .clear-btn,
  .trash-btn,
  .complete-btn {
    font-size: 13px;
  }
  .complete-btn {
    margin-right: 10px;
  }
  .todo {
    font-size: 14px;
  }
  .todo li {
    padding-right: 10px;
  }
  .todo-list {
    padding-left: 25px;
  }
  .codedBy {
    font-size: 13px;
    margin-top: 15px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .group {
    max-width: 900px;
    display: block;
    margin: 0 auto;
  }
  header {
    line-height: 40px;
  }
  h1 {
    font-size: 43px;
  }
  h2 {
    font-size: 43px;
  }
  form {
    max-width: 100%;
  }
  .todo-input {
    max-width: 85%;
  }
  .container,
  .todo-container,
  .clearDiv {
    max-width: 80%;
  }
  .clear-btn,
  .trash-btn,
  .complete-btn {
    font-size: 14px;
  }
  .complete-btn {
    margin-right: 10px;
  }
  .todo {
    font-size: 15px;
  }
  .todo li {
    padding-right: 10px;
  }
  .todo-list {
    padding-left: 25px;
  }
  .codedBy {
    font-size: 13px;
    margin-top: 15px;
  }
}
